@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    font-family: 'Poppins', sans-serif;
}

header {
    width: 100%;

}

.navbar {
    display: flex;
    flex-direction: column;
    background: #FFF9F3;
    width: 100%;
}

.main-navigation {
    display: flex;
}

.main-navigation .logo {
    width: 8rem;
    margin-left: 40px;
}

.main-navigation input {
    width: 40rem;
    height: 35px;
    border-radius: 30px;
    border-style: none;
    padding-left: 125px;
}


.main-navigation ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    width: 80%;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;

}

.main-navigation ul li:nth-child(1) {
    position: relative;
}

.main-navigation ul li:nth-child(1) select {
    position: absolute;
    left: 10px;
    top: 8px;
    height: 20px;
    background-color: #F5F6F8;
    border-radius: 40px;
    border-style: none;
}

.main-navigation ul li:nth-child(1) .search-icon {
    position: absolute;
    right: 10px;
    top: 8px;
}

.main-navigation ul li:nth-child(n+3) {
    margin-top: auto;
    margin-bottom: auto;
}




.main-navigation button {
    background-color: #EB6D20;
    color: white;
    border-style: none;
    width: 4rem;
    height: 35px;
    border-radius: 50px;
    font-size: 0.7rem;
    cursor: pointer;
}

.all-dropdown {
    margin-bottom: 10px;
}

.all-dropdown ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    width: 100%;
}

.all-dropdown ul li select {
    border-style: none;
    background: #FFF9F3;
    padding: 0px;
}

.active-select {
    color: #FE6303;
}

@media screen and (min-width: 601px) and (max-width: 940px){

    .main-navigation {
        margin-top: 10px;
    }
    
    .main-navigation ul li:nth-child(1) select {
        display: none;
    }

   

    .main-navigation .logo {
        width: 25%;
        margin-left: 2px;
    }

    .main-navigation ul {
        display: flex;
        justify-content: space-between;
        list-style: none;
        width: 70%;
        margin-left: auto;
        margin-top: auto;
        margin-bottom: auto;
    
    }

    .main-navigation input {
        width: 10rem;
        height: 35px;
        border-radius: 10px;
        border-style: none;
        padding-left: 0px;
    }

    .main-navigation ul li:nth-child(1) {
        position: relative;
    }
    
    .main-navigation ul li:nth-child(1) .search-icon {
        position: absolute;
        right: 4px;
        top: 10px;
    }

    .main-navigation button {
       
        width: 4rem;
        border-radius: 50px;
      
    }

    .all-dropdown {
        margin-bottom: 10px;
        overflow-x: scroll;
    }   

    .all-dropdown ul {
        width: 200%;
    }
}


@media only screen and (max-width: 600px)  /*=================>Mobile Design<============*/
{
    .main-navigation {
        margin-top: 10px;
    }
    
    .main-navigation ul li:nth-child(1) select {
        display: none;
    }

    .main-navigation ul li b{
        display: none;
    }

    .main-navigation .logo {
        width: 25%;
        margin-left: 2px;
    }

    .main-navigation ul {
        display: flex;
        justify-content: space-between;
        list-style: none;
        width: 70%;
        margin-left: auto;
        margin-top: auto;
        margin-bottom: auto;
    
    }

    .main-navigation input {
        width: 10rem;
        height: 35px;
        border-radius: 10px;
        border-style: none;
        padding-left: 0px;
    }

    .main-navigation ul li:nth-child(1) {
        position: relative;
    }
    
    .main-navigation ul li:nth-child(1) .search-icon {
        position: absolute;
        right: 4px;
        top: 10px;
    }

    .main-navigation button {
       
        width: 2rem;
        border-radius: 100%;
      
    }

    .all-dropdown {
        margin-bottom: 10px;
        overflow-x: scroll;
    }   

    .all-dropdown ul {
        width: 300%;
    }
}